#container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #333;
}

#box {
  position: absolute;
  left: 0;
  top: 35%;
  width: 100%;
  text-align: center;
  color: #fff;
}

.me {
    border: 1px solid #777;
    display: inline-block;
    padding: 1.3333333rem 1.6666666rem 0;
}
a {
    color: #fff;
}
a:hover {
  color: #000;
  background-color: #ffb7b7;
}
::selection {
  background: #ffb7b7;
}
::-moz-selection {
  background: #ffb7b7;
}
